:root {
  --light-blue: #e0e7ff;
  --pale-green: #add9c5;
  --green: #03a64a;
  --forest-green: #0d8c44;
  --light-green: #63bf8b;
  --white: #f2f2f2;
  --dark: #222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: unset;
  color: var(--dark);
  transition: 0.2s all ease-in-out;
}

a:hover {
  color: var(--light-green);
}

.mapboxgl-popup-content {
  padding: 0 !important;
}
