.farmMapContainer {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.markerContainerImg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: #adff2f;
}

.card {
  height: 100px;
  background: #333;
}
