.farmMapContainer {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.markerContainerImg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: #adff2f;
}

.farmMarkerContainerImg {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.card {
  height: 100px;
  background: #333;
}

.card img {
  width: 20px;
  height: 20px;
}
