.suggestionContainer {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.suggestion {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  list-style-type: none;
  flex: 0.15;
  padding: 0.5rem;
  cursor: pointer;

  transition: 0.3s all ease-in-out;
}

.suggestion:hover {
  border-color: var(--blue);
}
